body{
   color:black; 
}

h1,h2{
    font-family:Roboto,sans-serif;
    color:#0B0B3B;
}

p{
    font-size: 16px;
    font-family: sans-serif,arial;
}

.justificado{
    text-align: justify;
}



#musica-topo{
    background-color:#424242;
    text-align: center;
}

.logo{
    padding: 1em 2em;
    color:#F2F2F2;
}

#menu{
    padding:0em 2em 1em 2em;
}

#menu a{
    color:#BDBDBD;
    text-decoration: none;
}

#musica-intro{
    text-align: center;
}

.imagem-maior{
    width:600px;
    margin:1em;
}

.borda {
    border:black 10px solid;
    border-radius:10px;
}

.texto-intro{
    padding:1em 2em 2em 2em;
}

.genero{
    padding:1em 1em 1em 1em;
}

.titulo{

}

.imagem-menor{
    width:300px;
}
